#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(244, 244, 245);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 32px;
  color: #0077cc;
  margin-bottom: 20px;
}

.formBox,
.searchBox,
.contactListBox {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactListBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formBox button {
  width: fit-content;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}

.formBox button:hover {
  background-color: #005fa3;
}
